@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap');


* {
    box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
  font-family: 'Amatic SC', cursive;
}

.balloon {
  font-size: 100px;
}

.text {
  display: none;
  text-align: center;
  font-weight: bold;
  font-size: 70px;
}

@keyframes explode {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
    
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
    
  }
  100% {
    transform: rotate(360deg);
  }
};